.team {
  padding: 100px 100px;
  font-family: Arial, sans-serif;
}

.team h1 {
  text-align: left;
  margin-bottom: 1.25rem;
  font-size: 2rem;
}

.team-sections {
  margin-bottom: 1.5rem;
}

.team-sections h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.team-table {
  width: 100%;
  border-collapse: collapse;
}

.team-table td {
  font-size: 1.25rem;
  padding: 0 1.25rem;
  vertical-align: top;
}

.team-table .name {
  font-weight: bold;
  width: 20%;
  text-align: left;
}

.team-table .designation {
  width: 50%;
  text-align: left;
}

.team-table td {
  border: none;
}

@media (max-width: 768px) {
  .team {
    padding: 100px 20px;
  }
  .team-table .name {
    font-weight: bold;
    width: 50%;
    text-align: left;
    padding-bottom: 0.75rem;
  }
  
  .team-table .designation {
    width: 50%;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .team-table td {
    font-size: 1rem;
    padding: 0;
    vertical-align: top;
  }
}