.team {
  position: relative;
  padding: 100px 50px;
  background-image: url('../../assets/images/back.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: 1;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.team::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Light overlay for better text visibility */
  z-index: -1;
}

.team-header {
  text-align: center;
  margin-bottom: 2rem;
}

.team-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #004080;
}

.team-header p {
  font-size: 1.25rem;
  color: #555;
}

.team-sections {
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.6); /* Subtle background for sections */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.team-sections h3 {
  font-size: 1.75rem;
  color: #004080;
  border-bottom: 2px solid #cce7ff;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.team-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.team-row:hover {
  background-color: rgba(0, 128, 255, 0.05); /* Subtle hover effect */
}

.team-table td {
  font-size: 1rem;
  padding: 10px 15px;
}

.team-table .name {
  font-weight: 600;
  color: #004080;
  width: 300px;
  text-align: left;
}

.team-table .designation {
  color: #000;
  width: 50%;
  text-align: left;
}

.mobile-view{
  display: none;
}

@media (max-width: 768px) {
  .team {
    padding: 100px 20px;
  }

  .team-header h1 {
    font-size: 2rem;
  }

  .team-header p {
    font-size: 1rem;
  }

  .team-sections h3 {
    font-size: 1.5rem;
  }

  .team-table td {
    font-size: 0.9rem;
    padding: 8px 10px;
  }

  .desktop-view{
    display: none;
  }

  .mobile-view{
    display: block;
  }

  .mobile-view .name {
    padding-bottom: 0px;
  }

  .mobile-view .designation {
    padding-top: 0px;
  }
}
