section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.contact {
  position: relative; /* Required for positioning the overlay */
  padding: 170px 100px;
  background-image: url('../../assets/images/back.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: 1;
  color: #000; /* Ensures text is visible */
}

.contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white overlay */
  z-index: -1; /* Keeps overlay behind the content */
}

.contact h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

.contact h3 {
  margin-left: 10px;
  padding: 10px 0;
  font-weight: 600;
  font-size: 1.3rem;
}

.contact ul {
  display: flex;
  flex-direction: row;
  gap:40px;
}

.contact ul .inner {
  margin-left: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

.contact ul .inner li {
  text-align: left;
}

.contact ul .inner p {
  margin-left: 10px;
}

.email-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.email-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 20px 20px;
    margin-top: 70px;
    min-height: 70vh;
  }
  .contact ul {
    flex-direction: column;
    gap: 20px;
  }
  
}