section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.advisory {
  padding: 100px 100px;
}

.advisory h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

.advisory-list {
  list-style: outside;
  display: flex;
  flex-direction: column;
}

.advisory-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.advisory-column {
  width: 100%; 
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.advisory-column li {
  margin-bottom: 10px;
  font-size: 1.4rem;
  margin-left: 40px;
  color: black;
  text-align: left;
  background-color: #fff;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .advisory {
    padding: 20px 20px;
    margin-top: 70px;
  }
  .advisory-container {
    flex-direction: column; /* Stack columns vertically on smaller screens */
  }
  .advisory-column {
    width: 100%; /* Full width for columns on small screens */
  }
}
